:root {
  --sdk-end-page-replay-section-bg: #dbdada !important;
}
.video-js {
  height: 100% !important;
}

.pause-play {
  margin: 0 !important;
  width: 50px !important;
  height: 50px !important;
  padding: 0 !important;
}
.player-for-back-ward-controls {
  background-color: #00000099 !important;
}
.pause-play svg {
  width: 50px !important;
  height: 50px !important;
}
.player-for-back-ward-controls .player-container .back-ward,
.player-for-back-ward-controls .player-container .forward {
  background: transparent !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.player-container {
  gap: 40px !important;
}
.sb-player-side-menu-icon.notVisible.isVisible {
  display: none !important;
}
.vjs-control-bar button,
.vjs-control-bar .vjs-duration.vjs-time-control.vjs-control,
.vjs-control-bar .vjs-progress-control.vjs-control,
.vjs-control-bar .vjs-remaining-time.vjs-time-control.vjs-control,
.vjs-control-bar
  .vjs-playback-rate.vjs-menu-button.vjs-menu-button-popup.vjs-control.vjs-button {
  display: none !important;
}
.vjs-mute-control.vjs-control.vjs-button.vjs-vol-3,
.vjs-mute-control.vjs-control.vjs-button.vjs-vol-0 {
  border-radius: 50% !important;
  width: 34px !important;
  height: 34px !important;
  display: block !important;
}
.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
  background: #ffffff26 !important;
  border-radius: 80px !important;
}
.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal:not(.vjs-hover) {
  width: 100% !important;
}
.video-js .vjs-volume-panel.vjs-volume-panel-horizontal {
  padding-right: 10px !important;
}
.video-js .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover {
  width: 174px !important;
}
.vjs-volume-bar.vjs-slider-horizontal,
.video-js
  .vjs-volume-panel.vjs-hover
  .vjs-mute-control
  ~ .vjs-volume-control.vjs-volume-horizontal,
.video-js
  .vjs-volume-panel.vjs-hover
  .vjs-volume-control.vjs-volume-horizontal {
  width: 133px !important;
}

.vjs-control-bar {
  top: 16px !important;
  width: 34px !important;
  left: 68px !important;
  background: transparent !important;
}
.video-js .vjs-mute-control .vjs-icon-placeholder:before {
  color: white !important;
}
