@media only screen and (max-width: 480px) {
  .landscape-content {
    padding: 4.5rem 1rem !important;
    padding-bottom: 0px !important;
    /* display: none !important; */
  }
  .quml-header__container {
    justify-content: end !important;
    min-height: 2.5rem !important;
    padding: 1rem 1rem 0 1rem !important;
    height: 43px !important;
    gap: 26px;
  }
  .quml-header__features {
    padding-left: 0 !important;
  }
  .quml-option label.container {
    left: 40% !important;
  }
  .startpage__header {
    font-size: 14px !important;
    padding-bottom: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .quml-question {
    padding-top: 0 !important;
  }
  .lanscape-mode-right ul .section label.active::after,
  .lanscape-mode-right ul .section ul li.progressBar-border::after {
    width: 1rem !important;
    height: 1rem !important;
    /* border: none !important; */
    z-index: -1 !important;
  }
  .showFeedBack-progressBar.progressBar-border {
    color: white !important;
  }
  .lanscape-mode-right
    ul
    .section
    ul
    li:not(.wrong):not(.correct).progressBar-border::after {
    background: #03627c !important;
  }
  .showFeedBack-progressBar.progressBar-border.wrong::after {
    padding: 10px !important;
    border: 1px solid #db0000 !important;
  }
  .showFeedBack-progressBar.progressBar-border.correct::after {
    padding: 10px !important;
    border: 1px solid #219653 !important;
  }
  .lanscape-mode-right ul .showFeedBack-progressBar.correct {
    background: #219653 !important;
  }
  .quml-question .mcq-title {
    margin-top: 5px !important;
  }
  .quml-question .mcq-title p {
    margin-bottom: 5px !important;
  }
  .attempts.sb-color-primary.fnormal.font-weight-bold {
    font-size: 12px !important;
    padding-right: 8px !important;
  }
  .quml-header__features img,
  .quml-header__features img {
    margin: 0 !important;
  }
  .landscape-center {
    margin-top: 20px !important;
  }

  .scoreboard-sections label.progressBar-border {
    display: none !important;
  }
  .showFeedBack-progressBar {
    width: 15px !important;
    height: 15px !important;
    margin: 0 !important;
  }
  .lanscape-mode-right ul li:empty {
    display: none;
  }
  .nonFeedback {
    top: -1.45rem !important;
    height: auto !important;
  }
  .lanscape-mode-right {
    margin: 0 !important;
    padding: 0 1rem !important;
    top: 40px !important;
    width: 100% !important;
    height: 2rem !important;
    /* margin: auto !important; */
  }
  .lanscape-mode-right > ul {
    flex: auto !important;
    height: 1rem !important;
    margin: 0 !important;
    align-items: center !important;
  }
  .lanscape-mode-right ul li:not(.showFeedBack-progressBar) {
    flex: auto !important;
  }
  .lanscape-mode-right ul li ul li ul {
    justify-content: space-between !important;
  }
  ul.scoreboard-sections {
    height: auto !important;
  }
  .startpage__instr-desc {
    padding: 5px 0 !important;
  }
  .startpage__content {
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
  }
  .wrapper {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 12px !important;
    justify-content: space-between !important;
    > * {
      flex-basis: calc(50% - 5px);
    }
  }
  .quml-mcq--question.mb-16 {
    margin-bottom: 6px !important;
  }
  .quml-mcq-option-card {
    text-align: center !important;
  }
  .quml-mcq-option-card .option p,
  .startpage__md-desc {
    font-size: 12px !important;
  }
  .quml-navigation__previous,
  .quml-navigation__next {
    width: 4.75rem !important;
    height: 1.75rem !important;
  }
  .collapse-button {
    top: 1rem !important;
    right: 1rem !important;
    z-index: 70 !important;
    border: none !important;
    position: absolute;
    background: #03627c1a !important;
    border-radius: 50% !important;
    line-height: 0 !important;
    padding: 10px !important;
  }
  .collapse-close {
    background: transparent !important;
    padding: 6px 12px !important;
  }
  .duration.mr-16 {
    margin-right: 3rem !important;
    font-size: 12px !important;
  }
  .scoreboard-sections li.section.relative ul {
    align-items: center !important;
    padding: 0 !important;
  }

  li > ul.scoreboard-sections li.section.relative ul {
    margin: 0px !important;
    top: 0px !important;
  }
  .scoreboard-sections li.section.relative ul li.showFeedBack-progressBar {
    padding-top: 5px !important;
  }
  .quml-container {
    overflow: initial !important;
  }
  .quml-alert__container {
    bottom: 2rem !important;

    position: absolute !important;
    top: -45px !important;
    z-index: 8 !important;
    background: #fff0f0 !important;
    width: 100% !important;
    height: 40px !important;
    padding: 0 !important;
    margin: 0px !important;
    border-radius: 100px !important;
    border: 2px solid #db0000;
  }
  [ng-reflect-alert-type="correct"] .quml-alert__container {
    border-color: #219653 !important;
    background: #e1fbec !important;
    width: 100% !important;
  }
  .quml-alert__solution-container {
    width: calc(100% - 75%) !important;
  }
  .quml-alert__body {
    justify-content: space-between !important;
    width: 100% !important;
  }
  .quml-header__metadata.quml-header__metadata--portrait {
    padding-top: 5px !important;
    /* display: none !important; */
  }
  .displayblock {
    display: block !important ;
  }
  .quml-header__metadata.quml-header__metadata--portrait.displayblock {
    display: flex !important ;
  }
  .progress-indicators__popup {
    height: 90% !important;
    overflow-y: scroll !important;
  }
  .scoreboard {
    padding: 3rem 1rem 0 1rem !important;
  }
  .scoreboard__header,
  .sections-score-card,
  .scoreboard__btn-container {
    height: auto !important ;
  }
  .scoreboard__btn-container {
    padding: 8px 0 !important;
  }
  .scoreboard__header .scoreboard__title,
  .sections-score-count-info {
    font-size: 14px !important;
  }
  .sections-score-count-info,
  .sections-score-count-sections {
    position: initial !important;
    flex: 1 !important;
    width: auto !important;
    padding: 0 !important;
  }
  .scoreboard__header .scoreboard__subtitle {
    font-size: 12px !important;
  }
  .scoreboard__header {
    padding-bottom: 0.5rem !important;
  }
  .sb-btn-normal {
    height: 1.75rem !important;
  }
  .sa-button-container,
  .question-container,
  .sa-title {
    margin: 0 !important;
  }
  .question-container .question p {
    margin-bottom: 0.5rem !important;
  }
  .sections-score-card .sections-score-count-info .mb-15 {
    margin-bottom: 0.1rem !important;
  }
  .main-container {
    transition: height 0.2s !important;
    background: transparent !important;
  }
  .player-endpage,
  .landscape-mode,
  .quml-alert__overlay,
  .quml-header__container,
  .scoreboard {
    border-radius: 16px 16px 0 0 !important;
    overflow: hidden !important;
  }
  .quml-alert__icon-container,
  .quml-alert__icon-empty,
  .quml-alert__banner {
    display: none !important;
  }
  .quml-alert__image.quml-alert__image--correct,
  .quml-alert__image.quml-alert__image--wrong {
    width: 100% !important;
  }
  .quml-alert__image.quml-alert__image--correct::before {
    content: "That’s the right answer!";
    /* padding: 10px !important; */
    font-size: 14px !important;
    font-family: Inter !important;
    top: 7px !important;
    left: 30px !important;
    position: absolute !important;
    color: #219653 !important;
    font-weight: 500 !important;
    /* width: 100% !important; */
  }

  .quml-alert__image.quml-alert__image--wrong::before {
    content: "That’s incorrect!";
    /* padding: 10px !important; */
    font-size: 14px !important;
    font-family: Inter !important;
    top: 7px !important;
    left: 30px !important;
    position: absolute !important;
    color: #db0000 !important;
    font-weight: 500 !important;
  }
  .quml-alert__try-again {
    background: #db0000 !important;
    color: white !important;
    height: 36px !important;
    width: 112px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .scoreboard {
    background: white !important;
  }

  .showFeedBack-progressBar.info-page {
    display: none !important;
  }
  /* .showFeedBack-progressBar.info-page::after {
    width: 12px !important;
    height: 12px !important;
    left: -7px !important;
    padding: 7px !important;
    border-color: green !important;
  } */
  /* .showFeedBack-progressBar.info-page.hover-effect.att-color.progressBar-border::after {
    width: 1.2rem !important;
    height: 1.2rem !important;
  } */
  /* .showFeedBack-progressBar.info-page.hover-effect.att-color.progressBar-border {
    width: 15px !important;
    height: 15px !important;
  }
  .showFeedBack-progressBar.info-page {
    flex: auto !important;
    background: transparent !important;
    border: none !important;
    justify-content: start !important;
    color: black !important;
    padding: 0 !important;
  } */
  /* .showFeedBack-progressBar.info-page {
    color: white !important;
  } */
  /* .showFeedBack-progressBar.info-page.hover-effect.att-color::after {
    border: 1px solid #219653 !important;
    background: #219653 !important;
    content: "" !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    border-radius: 50% !important;
    padding: 0.25rem !important;
    position: absolute !important;
    z-index: -1 !important;
  } */
  .quml-option--selected {
    background: #d2f2fa !important;
    border: 1px solid #c5c5c5 !important;
  }
  .quml-option:not(.quml-option--selected),
  .quml-mcq-option-card:not(.quml-option--selected) {
    box-shadow: 0px 4px 0px 0px #c5c5c5 !important;
    border: 1px solid #c5c5c5 !important;
  }
  .qumlOption-imageQaGrid {
    padding-bottom: 5px !important;
  }
  .quml-option .container {
    display: none !important  ;
  }
  .quml-mcq-option-card .container {
    display: none !important;
  }
  .quml-mcq-options {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 12px !important;
    justify-content: space-between !important;
  }
  .quml-option,
  .quml-mcq-option-card {
    padding: 8px 16px !important;
    border: 1px solid #c5c5c5 !important;
  }
  .quml-option .option p span,
  .quml-mcq-option-card .option p span {
    background: transparent !important;
  }
  .quml-option-card,
  .quml-option .option p {
    margin: 0% !important;
    text-align: center !important;
  }
}
quml-header:not(.main-header) {
  display: none !important;
}
.quml-option--selected.wrong {
  border: 2px solid #db0000 !important;
  background: #fff0f0 !important;
}
.quml-option--selected.correct {
  border: 2px solid #219653 !important;
  background: #e1fbec !important;
}
