@media only screen and (max-width: 480px) {
  .landscape-content {
    padding: 60px 20px !important;
    padding-bottom: 10px !important;
  }
  .quml-header__container {
    justify-content: space-between !important;
    min-height: 2.5rem !important;
    padding: 0 1rem !important;
  }
  .quml-header__features {
    padding-left: 0 !important;
  }
  .quml-option label.container {
    left: 40% !important;
  }
  .startpage__header {
    font-size: 14px !important;
    padding-bottom: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .quml-question {
    padding-top: 0 !important;
  }
  .lanscape-mode-right ul .section label.active::after,
  .lanscape-mode-right ul .section ul li.progressBar-border::after {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
  .quml-question .mcq-title {
    margin-top: 5px !important;
  }
  .quml-question .mcq-title p {
    margin-bottom: 5px !important;
  }
  .attempts.sb-color-primary.fnormal.font-weight-bold {
    font-size: 12px !important;
  }
  .quml-header__features img,
  .showFeedBack-progressBar.info-page.hover-effect.att-color.progressBar-border {
    width: 15px !important;
    height: 15px !important;
  }
  .showFeedBack-progressBar.info-page.hover-effect.att-color.progressBar-border::after {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }
  .landscape-center {
    margin-top: 20px !important;
  }

  .quml-header__features img::after,
  .showFeedBack-progressBar.info-page.hover-effect.att-color.progressBar-border::after {
    width: 12px !important;
    height: 12px !important;
  }
  .progressBar-border,
  .showFeedBack-progressBar {
    width: 15px !important;
    height: 15px !important;
    margin: 0 2.25rem 0 0 !important;
  }
  .nonFeedback {
    top: -1.45rem !important;
    height: auto !important;
  }
  .lanscape-mode-right {
    margin: 0 auto !important;
    padding: 0 !important;
    top: 36px !important;
    height: 1.6rem !important;
    padding-top: 7px !important;
  }
  .lanscape-mode-right > ul {
    height: 1rem !important;
    margin: 0 !important;
  }
  ul.scoreboard-sections {
    height: auto !important;
  }

  /* .lanscape-mode-right {
    top: 2rem !important;
    display: none !important;
  } */
  .startpage__instr-desc {
    padding: 5px 0 !important;
  }
  .startpage__content {
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
  }
  .wrapper {
    display: flex !important;
    flex-wrap: wrap;
    gap: 10px !important;
    justify-content: space-between;
    > * {
      flex-basis: calc(50% - 10px);
    }
  }
  .quml-mcq--question.mb-16 {
    margin-bottom: 10px !important;
  }
  .quml-mcq-option-card {
    padding: 5px !important;
    gap: 5px !important;
  }
  .quml-mcq-option-card .option p {
    font-size: 14px !important;
  }
  .quml-navigation__previous,
  .quml-navigation__next {
    width: 4.75rem !important;
    height: 1.75rem !important;
  }
}
